@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 7%;
  --foreground: 220 13% 91%;
}

body {
  margin: 0;
  background-color: #0b0f1a; /* Dark background force kardo */
  color: white;
  font-family: sans-serif;
}